<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2><strong>Home Page </strong></h2><br /><br />            
            <a asp-action="Login" asp-controller="Home">
                Login
            </a>
        </div>
    </div>
</div>